1.5/source/obj
1.5/source/.vs
1.6/source/obj
1.6/source/.vs
*.kra~
*.png~
About/Preview.kra-autosave.kra
/Compatibility/CombatExtended/Source/XMT_CE/obj
/Compatibility/CombatExtended/Source/XMT_CE/obj
Compatibility/CombatExtended/Source/XMT_CE/obj/Debug/XMT_CE.pdb
Compatibility/CombatExtended/Source/XMT_CE/obj/Debug/XMT_CE.csproj.Up2Date
Compatibility/CombatExtended/Source/XMT_CE/obj/Debug/XMT_CE.csproj.AssemblyReference.cache
